@model  CRM.Business.Views.vClientes
@{

    Layout = "~/Views/Shared/_Generic.cshtml";
}
<script type="text/javascript">
    function OnInit(s, e) {
        AdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            AdjustSize();
        });
    }

    function OnEndCallback(s, e) {
        AdjustSize();
    }
    function AdjustSize() {
        debugger
        var height = document.documentElement.clientHeight;
        grid.SetHeight(height - 200);
    }
</script>
<div class="wrapper">

    <div class="container-fluid">
        <div id="heading" class="page-header">
            <h1><i class="icon20 i-cogs"></i>Clientes</h1>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="icon"><i class="icon20 i-table"></i></div>
                        <h4>Listado de Clientes</h4>
                        <a href="#" class="minimize"></a>

                    </div>
                    <!-- End .panel-heading -->

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 form-inline">
                                <div class="form-group" style="float:right">
                                    @Html.ActionLink("Actualizar", "Refresh", null, new { @class = "btn btn-sm i-spinner" })
                                </div>
                            </div>


                            @using (Html.BeginForm("ExportXLS", "Cliente", FormMethod.Post))
                            {
                                <link href="~/Css/custom.css" rel="stylesheet" />
                                <script src="~/Scripts/clientGridFunctions.js"></script>
                                <div class="btn-default">
                                    @Html.Partial("_GridExportOptionsPartial", Model)

                                </div>
                                @Html.Partial("_GridForViews", Model)

                            }
                        </div>

                        @*<span style="float:right">@Html.ActionLink("Actualizar", "Refresh", null, new { @class = "btn  i-spinner" })</span>*@


                        <script type="text/javascript">
                            var grid = eval("grid_" + "@ViewBag.NameController");
                            $(document).ready(function () {
                                $("#btShowCustomizationWindow").click(
                                    function () {
                                        UpdateCustomizationWindowVisibility();
                                    }
                                );
                            });
                            function grid_CustomizationWindowCloseUp(s, e) {
                                UpdateButtonText();
                            }
                            function UpdateCustomizationWindowVisibility() {
                                eval("grid_" + "@ViewBag.NameController").HideCustomizationWindow();
                                if (grid.IsCustomizationWindowVisible())
                                    grid.HideCustomizationWindow();
                                else
                                    grid.ShowCustomizationWindow();
                                UpdateButtonText();
                            }
                            function UpdateButtonText() {
                                var text = grid.IsCustomizationWindowVisible() ? "Ocultar" : "Mostrar";
                                text += " Configuración de columnas";
                                $("#btShowCustomizationWindow").val(text);
                            }
                        </script>

                        <div style="float: right">
                            <span>@Html.ActionLink("Configuración de Columnas", null, null, new { @id = "btShowCustomizationWindow", @class = "btn btn-info", @href = "#" })</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

