@model CRM.Website.Models.ChangePasswordModel


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
 <title>Viaxperta-ERP</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<script src="@Url.Content("~/Scripts/pages/login.js")"></script>
</head>
<body >
    <div class="container-fluid">
        <div id="login">
            <div class="login-wrapper" data-active="log">
               <a class="navbar-brand" href="http://www.ionics.com.ar/><img src="@Url.Content("~/images/Logo.gif")" alt="Ionics S.A." class="img-responsive"></a>
               
               @* <img src="@Url.Content("~/images/erpLogo.png")" alt="Viaxperta" id="logo_in" class="img-responsive">*@

                <div id="log">
                    
                    <div class="page-header">
                        <h3 class="center">Cambio de Contraseña</h3>
                    </div>
                    @using (Html.BeginForm("UsuarioCambioPassword", "Usuario", FormMethod.Post, new { id = "login-form" }))
                    {
                        @Html.ValidationSummary(true,"");
                        <div class="row">
                            <div class="form-group relative">
                                <div class="icon"><i class="icon20 i-user"></i></div>
            
                                @Html.TextBoxFor(u => u.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.UserName)

                            </div><!-- End .control-group  -->
                            <div class="form-group relative">
                                <div class="icon"><i class="icon20 i-key"></i></div>
                                @if(ViewBag.FirstTime == true)
                                {
                                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = "Password Actual" })
                                }
                                else
                                {
                                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = "Password Actual" })
                                    @Html.ValidationMessageFor(u => u.Password)
                                }
                            </div><!-- End .control-group  -->
                            <div class="form-group relative">
                                <div class="icon"><i class="icon20 i-key"></i></div>
                                @if(ViewBag.FirstTime == true)
                                {
                                    @Html.PasswordFor(u => u.NuevaPassword, new { @class = "form-control", @placeholder = "Nueva password"})
                                }
                                else
                                {
                                    @Html.PasswordFor(u => u.NuevaPassword, new { @class = "form-control", @placeholder = "Nueva password"})
                                    @Html.ValidationMessageFor(u => u.NuevaPassword)
                                }
                            </div>
                            <div class="form-group relative">
                                <div class="icon"><i class="icon20 i-key"></i></div>
                                @if(ViewBag.FirstTime == true)
                                {
                                    @Html.PasswordFor(u => u.NuevaPasswordAgain, new { @class = "form-control", @placeholder = "Repetir nueva password"})
                                }
                                else
                                {
                                    @Html.PasswordFor(u => u.NuevaPasswordAgain, new { @class = "form-control", @placeholder = "Repetir nueva password"})
                                    @Html.ValidationMessageFor(u => u.NuevaPasswordAgain)
                                }
                                <br />
                                <button id="loginBtn" type="submit" class="btn btn-primary pull-right col-lg-5">Guardar</button>
                            </div>
                        </div><!-- End .row-fluid  -->             
                }
                </div>
                
            </div>
            <div id="bar" data-active="log">
                <div class="btn-group btn-group-vertical">
                    <a id="log" href="#" class="btn tipR" title="Login"><i class="icon16 i-key"></i></a>
                    <a id="reg" href="#" class="btn tipR" title="Register account"><i class="icon16 i-user-plus"></i></a>
                    <a id="forgot" href="#" class="btn tipR" title="Forgout password"><i class="icon16 i-question"></i></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>
