@model CRM.Business.Entities.NoConformidad

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover">
    <tr>
            <td style="width:25%">@Html.LabelFor(model => model.Numero, new { @class = "control-label" })</td>
            <td colspan="4">
                @Html.TextBoxFor(model => model.Numero, new {@class = "form-control" })
            </td>
        </tr>
    <tr>
            <td style="width:25%">@Html.LabelFor(model => model.IDTipo, new { @class = "control-label" })</td>
            <td colspan="4">
                @Html.DropDownListFor(model => model.IDTipo, new SelectList(ViewBag.TiposEventualidad, "Id", "Descripcion"), "Seleccione")
            </td>
        </tr>
    <tr>
            <td style="width:25%">@Html.LabelFor(model => model.FechaOcurrencia, new { @class = "control-label" })</td>
            <td colspan="4">
                @Html.TextBoxFor(model => model.FechaOcurrencia, new { @class = "form-control datepicker" })
            </td>
        </tr>
        <tr>
            <td style="width:25%">@Html.LabelFor(model => model.FechaApertura, new { @class = "control-label" })</td>
            <td colspan="4">
                @Html.TextBoxFor(model => model.FechaApertura, new { @class = "form-control datepicker" })
            </td>
        </tr>
        <tr>
            <td style="width:25%">@Html.LabelFor(model => model.IDOrigen, new { @class = "control-label" })</td>
            <td colspan="4">
                @Html.DropDownListFor(model => model.IDOrigen, new SelectList(ViewBag.Origen, "Id", "Descripcion"), "Seleccione")
            </td>
        </tr>
        <tr>
            <td style="width:25%">@Html.LabelFor(model => model.Identificacion, new { @class = "control-label" })</td>
            <td colspan="4">
                @Html.DropDownListFor(model => model.Identificacion, new SelectList(ViewBag.Identificacion, "Id", "Descripcion"), "Seleccione")
            </td>
        </tr>


    <tr>
        <td colspan="4">
            @Html.LabelFor(model => model.Descripcion, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @style = "resize: vertical;" })
        </td>
    </tr>

    <tr>
            <td>@Html.LabelFor(model => model.Observaciones, new { @class = "control-label" })</td>
            <td>
                @Html.TextBoxFor(model => model.Observaciones, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.AccionInmediata, new { @class = "control-label" })</td>
            <td colspan="4">
                @Html.TextBoxFor(model => model.AccionInmediata, new { @class = "form-control" })
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.GestionDeAccion, new { @class = "control-label" })</td>
            <td>
                @Html.TextBoxFor(model => model.GestionDeAccion, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ComprobacionEficacia, new { @class = "control-label" })</td>
            <td colspan="4">
                @Html.TextBoxFor(model => model.ComprobacionEficacia, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.FechaCierre, new { @class = "control-label" })</td>
            <td colspan="3">
                @Html.TextBoxFor(model => model.FechaCierre, new { @class = "form-control datepicker" })
            </td>
        </tr>
</table>

    <br />

    { Html.RenderPartial("_ListArchivos", Model.ArchivosModulo); }

    @Html.ActionLink("Adjuntar Archivo", "AddArchivoModulo", "Usuario", new { @id = "AddArchivoModulo", @class = "modal-link btn btn-success pull-right col-lg-3" })

    <br />
    <br />
    <br />
    <br />

    <div class="form-group relative">
        <button id="SubmitBtn" type="submit" class="btn btn-primary pull-right col-lg-5">Guardar</button>
    </div>

    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-content"></div>
    </div>
}

<script type="text/javascript">

    $(function () {
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            //Optional: turn the chache off
            $.ajaxSetup({ cache: false });
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });

        $('#modal-container').on('hidden.CRM.modal', function () {
            $(this).removeData('CRM.modal');
        });

        $('#CancelModal').on('click', function () {
            return false;
        });
    });

</script>

<script type="text/javascript">

    /* select especialidades*/
    $(document).ready(function () {

        //Double List
        $("#espec_list").wl_Multiselect({
            onSelect: function (value) {
                //$('#profesional').append("<input type='hidden' name='especialidad' value='" + value + "' />");
                $('#espec_list ').each(function () {
                    $(this).val() == "" && $(this).remove();
                });
            },
            onUnselect: function (value) {
                $("#espec_list option[value=" + value + "]").attr("selected", false);
                //  $('input[value="'+value+'"]').remove();
            }
        });

    });
    //$.fn.wl_Multiselect.methods.select();
</script>
