@model CRM.Business.Entities.Acontecimiento
@using GridMvc.Html;
@{
    Layout = "~/Views/Shared/_Generic.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("First")
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.FechaCreacion)
    @Html.HiddenFor(model => model.FechaActualizacion)
    @Html.HiddenFor(model => model.Estado)
    <div class="wrapper">

        <div class="container-fluid">
            <div id="heading" class="page-header">
                <h1><i class="icon20 i-cogs"></i>Eventos y Acciones</h1>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="icon"><i class="icon20 i-table"></i></div>
                            <h4>Información Eventos y Acciones</h4>
                            <a href="#" class="minimize"></a>

                        </div>
                        <!-- End .panel-heading -->
                        <div class="panel-body">
                            <ul class="pager">
                                <li class="previous">
                                    <a href="@Url.Action("Index", "Acontecimientos")">← Volver</a>
                                </li>
                                <li>
                                    @*@using (@Html.BeginForm("Imprimir", "Acontecimientos", FormMethod.Post))
                {*@
                                    <a class="btn btn-primary col-lg-2" style="float:right;"
                                       href="@Url.Action("Imprimir", "Acontecimientos")/@Model.Id">Imprimir</a>
                                    @*}*@

                                </li>

                            </ul>
                            @Html.ValidationSummary(true)
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                                <tr>
                                    <td colspan="1">
                                        @Html.Label("Nro Especial: ", new { @class = "control-label" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Id_Custom, new { @class = "form-control", @readonly = "readonly", @style = "width: 100px;" })
                                        @Html.ValidationMessageFor(model => model.Id)
                                    </td>
                                </tr>
                                <tr style="width: 100%;">

                                    @*<td style="width: 5%;">@Html.Label("Fecha", new { @class = "control-label" })</td>
                <td style="width: 5%;">
                    @Html.DisplayFor(model => model.Fecha, new { @class = "form-control datepicker", @style = "width: 200px;" })
                    @Html.ValidationMessageFor(model => model.Fecha)
                </td>*@
                                    <td style="width: 5%;">@Html.LabelFor(model => model.TipoAcontecimiento_Id, new { @class = "control-label" })</td>
                                    <td style="width: 30%;">
                                        @Html.DisplayFor(model => model.TipoAcontecimiento.Descripcion)
                                        @Html.ValidationMessageFor(model => model.TipoAcontecimiento_Id)
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        @Html.Label("", new { @class = "control-label" })
                                    </td>
                                </tr>
                                <tr style="width: 100%;">
                                    @*<td style="width: 10%;">@Html.LabelFor(model => model.FechaApertura, new { @class = "control-label" })</td>
                <td style="width: 10%;">
                    @Html.DisplayFor(model => model.FechaApertura, new { @class = "form-control datepicker", @style = "width: 200px;" })
                    @Html.ValidationMessageFor(model => model.FechaApertura)
                </td>*@
                                    <td style="width: 10%;">@Html.LabelFor(model => model.FechaOcurrencia, new { @class = "control-label" })</td>
                                    <td style="width: 30%;">

                                        @Html.DisplayFor(model => model.FechaOcurrencia, new { @class = "form-control datepicker", @style = "width: 300px;" })
                                        @Html.ValidationMessageFor(model => model.FechaOcurrencia)
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        @Html.Label("Descripcion:", new { @class = "control-label" })
                                        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.ValidationMessageFor(model => model.Descripcion)
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        @Html.Label("", new { @class = "control-label" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 5%;">@Html.LabelFor(model => model.Origen_Id, new { @class = "control-label" })</td>
                                    <td style="width: 30%;">
                                        @Html.DisplayFor(model => model.Origen.Descripcion)
                                        @Html.ValidationMessageFor(model => model.Origen_Id)
                                    </td>
                                </tr>
                                @*<tr style="width: 100%;">
                <td style="width: 30%;">
                    @Html.LabelFor(model => model.AuditoriaClientes, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.AuditoriaClientes, true, new { id = "1", @Name = "GroupOrigen", @disabled = "disabled" })
                    @Html.LabelFor(model => model.AuditoriaClientes, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.AuditoriaClientes, new { @class = "form-control", @disabled = "disabled" })
                </td>
                <td style="width: 25%;">
                    @Html.LabelFor(model => model.AuditoriaCertificacion, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.AuditoriaCertificacion, true, new { id = "1", @Name = "GroupOrigen", @disabled = "disabled" })
                    @Html.LabelFor(model => model.AuditoriaCertificacion, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.AuditoriaCertificacion, new { @class = "form-control", @disabled = "disabled" })
                </td>

                <td style="width: 50%;">
                    @Html.LabelFor(model => model.InspeccionesArn, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.InspeccionesArn, true, new { id = "1", @Name = "GroupOrigen", @disabled = "disabled" })
                    @Html.LabelFor(model => model.InspeccionesArn, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.InspeccionesArn, new { @class = "form-control", @disabled = "disabled" })
                </td>

                <td style="width: 0%;">
                    @Html.LabelFor(model => model.OtrasInspecciones, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.OtrasInspecciones, true, new { id = "1", @Name = "GroupOrigen", @disabled = "disabled" })
                    @Html.LabelFor(model => model.OtrasInspecciones, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.OtrasInspecciones, new { @class = "form-control", @disabled = "disabled" })
                </td>
            </tr>
            <tr style="width: 100%;">
                <td style="width: 5%;">
                    @Html.LabelFor(model => model.AccidentesLaborales, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.AccidentesLaborales, true, new { id = "1", @Name = "GroupOrigen", @disabled = "disabled" })
                    @Html.LabelFor(model => model.AccidentesLaborales, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.AccidentesLaborales, new { @class = "form-control", @disabled = "disabled" })
                </td>
                <td style="width: 5%;">
                    @Html.LabelFor(model => model.Eventualidades, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.Eventualidades, true, new { id = "1", @Name = "GroupOrigen", @disabled = "disabled" })
                    @Html.LabelFor(model => model.Eventualidades, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.Eventualidades, new { @class = "form-control", @disabled = "disabled" })
                </td>
                <td style="width: 2%;">
                    @Html.LabelFor(model => model.ReclamoClientes, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.ReclamoClientes, true, new { id = "1", @Name = "GroupOrigen", @disabled = "disabled" })
                    @Html.LabelFor(model => model.ReclamoClientes, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.ReclamoClientes, new { @class = "form-control", @disabled = "disabled" })
                </td>

                <td style="width: 5%;">
                    @Html.LabelFor(model => model.Novedades, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.Novedades, true, new { id = "1", @Name = "GroupOrigen", @disabled = "disabled" })
                    @Html.LabelFor(model => model.Novedades, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.Novedades, new { @class = "form-control", @disabled = "disabled" })
                </td>
            </tr>
            <tr>
                <td style="width: 5%;">
                    @Html.LabelFor(model => model.InformeRevision, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.InformeRevision, true, new { id = "1", @Name = "GroupOrigen", @disabled = "disabled" })
                    @Html.LabelFor(model => model.InformeRevision, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.InformeRevision, new { @class = "form-control", @disabled = "disabled" })
                </td>
                <td style="width: 5%;">
                    @Html.LabelFor(model => model.EncuentaClientes, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.EncuentaClientes, true, new { id = "1", @Name = "GroupOrigen", @disabled = "disabled" })
                    @Html.LabelFor(model => model.EncuentaClientes, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.EncuentaClientes, new { @class = "form-control", @disabled = "disabled" })
                </td>
                <td style="width: 5%;">
                    @Html.LabelFor(model => model.AnalisisVariosIonics, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.AnalisisVariosIonics, true, new { id = "1", @Name = "GroupOrigen", @disabled = "disabled" })
                </td>
                <td style="width: 1px;">
                    @Html.LabelFor(model => model.Otras, new { @class = "control-label" })
                    @Html.RadioButtonFor(model => model.Otras, true, new { @Name = "GroupOrigen", @disabled = "disabled", @Id = "Otras" })
                </td>

            </tr>
            <tr>
                <td id="cellOtras" colspan="4">
                    @Html.Label("Descripcion Otras Origen:", new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.OrigenOtras, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.OrigenOtras)

                </td>
            </tr>*@
                                <tr>
                                    <td colspan="5">
                                        @Html.Label("", new { @class = "control-label" })
                                    </td>
                                </tr>
                                @*/*Causa Raiz*/*@
                                @if (!string.IsNullOrEmpty(Model.Raiz_Mejora_Cambio))
                                {
                                    <tr>
                                        <td style="width: 5%">
                                            @if (Model.TipoAcontecimiento_Id == 1)
                                            {
                                                @Html.Label("Causas Raíz", new { @class = "control-label" })
                                            }
                                            else if (Model.TipoAcontecimiento_Id == 2)
                                            {
                                                @Html.Label("Origen de la Mejora", new { @class = "control-label" })
                                            }
                                            else if (Model.TipoAcontecimiento_Id == 3)
                                            {
                                                @Html.Label("Origen del Cambio", new { @class = "control-label" })
                                            }
                                            else
                                            {
                                                @Html.Label("Análisis del Evento:", new { @class = "control-label" })
                                            }

                                        </td>
                                        <td colspan="4">
                                            @Html.TextAreaFor(model => model.Raiz_Mejora_Cambio, new { @class = "form-control", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.Raiz_Mejora_Cambio)
                                        </td>
                                    </tr>

                                }

                                @if (Model.AccionesInmediatas || !Model.AccionesCorrectivas || !Model.AccionesMejora
                                    && Model.AccionesOtras && Model.SinAcciones
                                    && !string.IsNullOrEmpty(Model.DescripcionAcciones))
                                {
                                    <tr>
                                        <td colspan="5">
                                            @Html.Label("Acciones:", new { @class = "control-label" })
                                        </td>
                                    </tr>
                                }

                                @if (Model.AccionesInmediatas)
                                {
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.AccionesInmediatas, new { @class = "control-label" })
                                            @Html.CheckBoxFor(model => model.AccionesInmediatas, new { @class = "form-control", @Id = "chkAccionesInmediatas", @disabled = "disabled" })
                                        </td>
                                        <td id="cellAccionesInmediatas" colspan="3">
                                            @Html.Label("Descripcion Acciones Inmediatas:", new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.DescripcionAccionesInmediatas, new { @class = "form-control", @Id = "AI", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.OrigenOtras)

                                        </td>
                                    </tr>
                                }

                                @if (Model.AccionesCorrectivas)
                                {
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.AccionesCorrectivas, new { @class = "control-label" })
                                            @Html.CheckBoxFor(model => model.AccionesCorrectivas, new { @class = "form-control", @disabled = "disabled" })
                                        </td>
                                        <td id="cellAccionesCorrectivas" colspan="3">
                                            @Html.Label("Descripcion Acciones Correctivas:", new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.DescripcionAccionesCorrectivas, new { @class = "form-control", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.OrigenOtras)

                                        </td>
                                    </tr>
                                }
                                @if (Model.AccionesMejora)
                                {
                                    <tr>

                                        <td>
                                            @Html.LabelFor(model => model.AccionesMejora, new { @class = "control-label" })
                                            @Html.CheckBoxFor(model => model.AccionesMejora, new { @class = "form-control", @disabled = "disabled" })
                                        </td>
                                        <td id="cellAccionesMejora" colspan="3">
                                            @Html.Label("Descripcion Acciones de Mejora:", new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.DescripcionAccionesMejora, new { @class = "form-control", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.OrigenOtras)

                                        </td>

                                    </tr>
                                }
                                @if (Model.AccionesOtras)
                                {
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.AccionesOtras, new { @class = "control-label" })
                                            @Html.CheckBoxFor(model => model.AccionesOtras, new { @class = "form-control", @disabled = "disabled" })
                                        </td>
                                        <td id="cellOtras" colspan="4">
                                            @Html.Label("Descripcion Otras Acciones:", new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.DescripcionAccionesOtras, new { @class = "form-control", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.OrigenOtras)

                                        </td>
                                    </tr>
                                }
                                @if (Model.SinAcciones)
                                {
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.SinAcciones, new { @class = "control-label" })
                                            @Html.CheckBoxFor(model => model.SinAcciones, new { @class = "form-control", @disabled = "disabled" })
                                        </td>
                                        <td colspan="4">
                                            @Html.LabelFor(model => model.DescripcionSinAcciones, new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.DescripcionSinAcciones, new { @class = "form-control", @disabled = "disabled" })
                                        </td>
                                    </tr>
                                }

                                @if (string.IsNullOrEmpty(Model.DescripcionAcciones) &&
                                    Model.FechaImplementacion == null)
                                {
                                    <tr>
                                        <td colspan="5">
                                            @if (!string.IsNullOrEmpty(Model.DescripcionAcciones))
                                            {
                                                @Html.Label("Descripcion Acciones:", new { @class = "control-label" })
                                                @Html.TextAreaFor(model => model.DescripcionAcciones, new { @class = "form-control", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.DescripcionAcciones)
                                            }

                                            @if (Model.FechaImplementacion != null)
                                            {
                                                <div class="input-group">
                                                    @Html.LabelFor(model => model.FechaImplementacion, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.FechaImplementacion, new { @class = "form-control datepicker", @style = "width: 150px;", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.FechaImplementacion)
                                                </div>
                                            }


                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td colspan="5">
                                        @Html.Label("", new { @class = "control-label" })
                                    </td>
                                </tr>
                                @if (string.IsNullOrEmpty(Model.DescripcionEvaluacion) &&
                                    Model.FechaEvaluacion == null)
                                {
                                    <tr>
                                        <td colspan="5">
                                            @if (!string.IsNullOrEmpty(Model.DescripcionEvaluacion))
                                            {
                                                @Html.LabelFor(model => model.DescripcionEvaluacion, new { @class = "control-label" })
                                                @Html.TextAreaFor(model => model.DescripcionEvaluacion, new { @class = "form-control", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.DescripcionEvaluacion)
                                            }

                                            @if (Model.FechaEvaluacion != null)
                                            {
                                                <div class="input-group">
                                                    @Html.LabelFor(model => model.FechaEvaluacion, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.FechaEvaluacion, new { @class = "form-control datepicker", @style = "width: 150px;", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.FechaEvaluacion)
                                                </div>
                                            }

                                        </td>
                                    </tr>
                                }

                                @if (!string.IsNullOrEmpty(Model.NuevaAccion))
                                {
                                    <tr>
                                        <td colspan="5">
                                            @Html.LabelFor(model => model.NuevaAccion, new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.NuevaAccion, new { @class = "form-control", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.NuevaAccion)
                                        </td>
                                    </tr>
                                }

                                @if (!string.IsNullOrEmpty(Model.Observaciones))
                                {
                                    <tr>
                                        <td colspan="5">
                                            @Html.LabelFor(model => model.Observaciones, new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.Observaciones)
                                        </td>
                                    </tr>
                                }

                                @if (Model.FechaCierreAccion != null)
                                {
                                    <tr>
                                        <td colspan="5">
                                            <div class="input-group">
                                                @Html.LabelFor(model => model.FechaCierreAccion, new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.FechaCierreAccion, new { @class = "form-control datepicker", @style = "width: 150px", @disabled = "disabled" })
                                            </div>

                                            @Html.ValidationMessageFor(model => model.FechaCierreAccion)
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td colspan="5">
                                        @Html.Label("", new { @class = "control-label" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        @Html.Label("Firmas Digitales", new { @class = "control-label" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1">
                                        @Html.Label("Responsable Calidad", new { @class = "control-label" })
                                        @Html.CheckBox("Responsable Calidad", new { @class = "form-control" })
                                    </td>
                                    <td colspan="1" style="width: 20px">
                                        @Html.Label("gp", "Gte. de Produccion", new { @class = "control-label" })
                                        @Html.CheckBox("Gte. de Produccion", new { @class = "form-control" })
                                    </td>
                                    <td colspan="1">
                                        @Html.Label("gc", "Gte. Comercial", new { @class = "control-label" })
                                        @Html.CheckBox("Gte. Comercial", new { @class = "form-control" })
                                    </td>
                                    <td colspan="1">
                                        @Html.Label("gaf", "Gte. de Adm. y Finanzas", new { @class = "control-label" })
                                        @Html.CheckBox("Gte. de Adm. y Finanzas", new { @class = "form-control" })
                                    </td>
                                    <td colspan="1">
                                        @Html.Label("gg", "Gerente General", new { @class = "control-label" })
                                        @Html.CheckBoxFor(c => c.FirmaGteGral, new { @class = "form-control", @id = "chkGG" })
                                    </td>
                                </tr>
                            </table>
                            <br />
                            @if (Model.ArchivosModulo.Count() > 0)
                            {
                                <div>
                                    @{Html.RenderPartial("_ListArchivos", Model.ArchivosModulo);}
                                </div>
                                
                            }



                            <br />
                            <br />
                            <br />
                            <br />

                            <div class="form-group relative">
                                <a href="@Url.Action("Index", "Acontecimientos")" class="btn btn-default col-lg-offset-7 col-lg-2">Cancelar</a>
                                <a href="@Url.Action("Imprimir", "Acontecimientos")/@Model.Id" class="btn btn-primary col-lg-3">Imprimir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-content"></div>
    </div>
    <div class="modal fade" id="modal-causas" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Analisis del Eevento</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        
                        <p>@Html.DisplayNameFor(model => model.Raiz_Mejora_Cambio) :</p>
                        <div class="area">
                            @Html.TextAreaFor(model => model.Raiz_Mejora_Cambio, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                       
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-success" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    @section scripts
    {
        <link href="~/Css/custom.css" rel="stylesheet" />
        <script src="~/Scripts/clientGridFunctions.js"></script>
        <script type="text/javascript">

            $("#chkGG").on("change", function () {
                    debugger
                var firma = $(this).val();
                $.ajax({
                    url: '@Url.Action("SetSessionVariable", "Acontecimientos")',
                    async: false,
                    data: {
                        key: "firmaGteGral",
                        value: firma
                    },
                    success: function (data) {
                         //Your code
                    }
                })
            });


            $("#Origen_Id").on("change", function () {
                    var origend_Id = $(this).val();
                    debugger
                    if (origend_Id === "13") {
                        $("#cellOtras").show(250);
                    }
                    else {
                    $("#cellOtras").hide(250);
                }

            });

            $("#causas").click(function (e) {
                     e.preventDefault();
                    $("#modal-causas").modal('show');
                });

            var value = $("input[type=radio][id=Otras]:checked").is(":checked");
            if (value) {
                $("#cellOtras").show(250);
            }
            else {
                $("#cellOtras").hide(250);
            }

            $("input[type=radio][name=SelectedAnswer]").change(function () {
                var value = $("input[type=radio][id=Otras]:checked").is(":checked");

                if (value) {
                    $("#cellOtras").show(250);
                }
                else {
                    $("#cellOtras").hide();
                }
            });
        </script>

    }
}